{
  "endOfLine": "lf",
  "singleQuote": false,
  "trailingComma": "es5",
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "never"
      }
    }
  ]
}
